// Colors

$black: rgb(18, 1, 54);
$white: rgb(241, 241, 241);
$d-blue: rgb(3, 90, 166);
$l-blue: rgb(64, 186, 213);
$orange: rgb(252, 191, 30);

// Font Sizes

$font-xs: 0.8rem;
$font-s: 1.1rem;
$font-m: 1.5rem;
$font-l: 2rem;
$font-xl: 2.6rem;